<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @user.name %></h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <th> # </th>
        <th>Título</th>
        <th>Remetente</th>
        <th>Destinatário</th>
        <th>Status</th>
      </tr>
      <% @user.tickets.each do |ticket| %>
        <tr>
          <td><%= ticket.id %></td>
          <td><%= link_to ticket.title, ticket %></td>
          <td><%= ticket.user.name %></td>
          <td><%= ticket.recipient %></td>
          <td><%= I18n.t("ticket_status.#{ticket.status}")%></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="panel-heading">
    <h3 class="panel-title">Fila de tickets para aprovação</h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <th> # </th>
        <th>Título</th>
        <th>Remetente</th>
        <th>Destinatário</th>
        <th>Status</th>
        <th colspan="2" >Ações</th>
      </tr>
      <% unless @others_ticket.nil? %>
        <% @others_ticket.each do |ottickets| %>
          <tr>
            <td><%= ottickets.id %></td>
            <td><%= link_to ottickets.title, ottickets %></td>
            <td><%= ottickets.user.name %></td>
            <td><%= ottickets.recipient %></td>
            <td><%=  I18n.t("ticket_status.#{ottickets.status}") %></td>
            <% if  ottickets.approved? %>
              <td><%= link_to 'Visualizar Aprovação', ottickets %></td>
            <% elsif ottickets.reproved? %>
              <td><%= link_to 'Visualizar Reprovação', ottickets %></td>
            <% else %>
              <td><%= link_to 'Avaliar Ticket', new_ticket_history_path(ottickets) %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
