<strong><%= @ticket.title %></strong>
<p>Descrição: <%= @ticket.description %></p>
<p>Destinatário: <%= @ticket.recipient %></p>
<p>Originador: <%= @ticket.user.name %></p>
<p>Status: <%= @ticket.status %></p>
