<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @ticket.title %></h3>
  </div>
  <div class="panel-body">
    <p><strong>Descrição:</strong> <%= @ticket.description %></p>
    <p><strong>Destinatário:</strong> <%= @ticket.recipient %></p>
    <p><strong>Originador:</strong> <%= @ticket.user.name %></p>

    <p><strong>Anexos:</strong>
      <% if @ticket.attach_file_name.nil? %>
        Não existe arquivo em anexo.
      <% else %>
        <%= image_tag @ticket.attach.url(:thumb) %>
      <% end %>
    </p>
    <p>
      <strong>Status:</strong>
      <% if @ticket.pending? %>
        <span class="label label-warning">
          <%= t("ticket_status.#{@ticket.status}") %>
        </span>
      <% elsif @ticket.approved? %>
        <span class="label label-success">
          <%= t("ticket_status.#{@ticket.status}") %>
        </span>
      <% else %>
        <span class="label label-danger">
          <%= t("ticket_status.#{@ticket.status}") %>
        </span>
      <% end %>
    </p>
  </div>
  <div class="panel-footer">
    created at: <%= l(@ticket.created_at, format: :long) %>
  </div>
</div>
<% if @ticket.histories.size != 0 %>
<div class="panel panel-default">
<div class="panel-heading">
  <h3 class="panel-title">Comentários</h3>
</div>
<div class="panel-body">
  <% @ticket.histories.each do |h| %>
    <%= h.comment %>
  <% end %>
</div>
</div>
<% end %>
<nav>
  <%= link_to 'Voltar', user_path(@current_user.id), class: 'btn btn-default' %>
</nav>
