<%= simple_form_for @company do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Create a new company</h3>
    </div>
    <div class="panel-body">
      <%= f.input :legal_name %>
      <%= f.input :mail %>
      <%= f.input :legal_number %>
    </div>
  </div>
  <nav>
    <%= f.submit 'Cadastrar', class: 'btn btn-default' %>
    <%= link_to 'voltar', root_path, class: 'btn btn-default' %>
  </nav>
<% end %>
