<!DOCTYPE html>
<html>
  <head>
    <title>Docflow</title>
    <%= csrf_meta_tags %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href='/'>
            <img alt="DOCFLOW">
          </a>
        </div>
        <ul class="nav navbar-nav">
          <% if person_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Logout', destroy_person_session_path, method: :delete %>
            </li>
            <li class="nav-item">
              <%= link_to 'Registrar Ticket', new_ticket_path %>
            </li>
            <li class="nav-item">
              <%= link_to 'Cadastrar Empresa', new_company_path %>
            </li>
            <li class="nav-item">
              <%= link_to current_person.email %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Log in', new_person_session_path %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign up', new_person_registration_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container"><%= yield %></div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
      </br><p>Um trabalho desenvolvido por Flávio e Rodrigo
        | Colabore com este projeto incrível.</p>
      </div>
    </nav>
  </body>
</html>
